<div class="blog">
  <h2><%= blog.title %></h2>
  <p><%= blog.content %></p><br>
  <span class="timestamp">Posted <%= time_ago_in_words(blog.created_at) %> ago.</span><br>
  <% if signed_in? %>
    <%= link_to "delete", blog, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>