@import "bootstrap";

/* universal */
header {
	padding-top: 70px;
	text-transform: uppercase;
}

/* div classes */

#content {
	margin-left: 50px;
	width: 900px;
	background: transparent repeat-y scroll center;
}
