@import "bootstrap";

@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: local('Rokkitt'), url(http://themes.googleusercontent.com/static/fonts/rokkitt/v5/RcB7dRNAX_8JE8zinU47YALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

/* universal */


header {
	background-image:url(image_path('mountains.jpg'));
	background-position: right;
	padding-top: 300px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15pt;
	li {
		width: 150px;
		a {
			color: white;
		}
	}
	.signout {
		font-size: 12pt;
		float: right;
	}
}

footer {
	margin-left: 10px;
	clear: both;
}


/* div ids */

#content {
	margin-left: 30px;
	width: 800px;
	background-color: white;
}

#newpost {
	padding: 50px;
	input {
		width: 600px;
		.btn {
			width: 150px;
			float: right;
		}
	}
	textarea {
		width: 600px;
		height: 300px;
	}
}

/* blogs */

.blog {
	padding-bottom: 150px;
	border-bottom: 1px solid #ccc;
	background-color: white;
	overflow: hidden;
	h2 {
		font-family: 'Rokkitt', serif;
		font-weight: lighter;
		color: #777;
		a {
			color: #777;
		}
	}

	.bloginfo {
		padding-top: 15px;
		float: left;
		width: 200px;
		color: #444;
	}
	.blogpost {
		float: left;
		width: 600px;
	}
}

.comment {
	padding: 15px;
}

/* slideout page */
#slideout {
	position: fixed;
	right: 0;
	top: 40px;
	height: 80px;
	width: 40px;
	-webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: white;
  padding-top: 60px;
  border-left: solid 1px #ccc;
  box-shadow-left: 1px 1px 1px 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#slideout_inner {
  position: fixed;
  right: -300px;
  top: 0;
  bottom: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: white;
  width: 300px;
  font-size: 12pt;
}
#slideout:hover {
  right: 300px;
}
#slideout:hover #slideout_inner {
  right: 0;
}

#rotate {
	transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  -ms-transform:rotate(-90deg);
}